<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body>
        <div id="logo"> 
            <h1> Shopnolok School </h1>
        </div>
        <div id="menu"> 
            <div id="menu-content">
                <a href="/"> Home </a>
                <a href="/teachers"> Teachers </a>
                <a href="/teacherinfo"> TeacherInfo </a>
                <a href="/students"> Students </a>
                <a href="/studentinfo"> StudentInfo </a>
            </div>
        </div>

